*.log
.DS_Store
.env
.env.backup
.env.production
.env.dusk.local
.phpactor.json
.phpunit.result.cache
/.claude
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/bootstrap/cache
chom/node_modules
chom/vendor
chom/storage
chom/bootstrap/cache
chom/public/build
chom/public/hot
chom/public/storage
chom/.env.dusk.local
*.sqlite
*.phar
docker
observability-stack
Homestead.json
Homestead.yaml
Thumbs.db
