# Grafana datasources configuration
apiVersion: 1

datasources:
  # Prometheus
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://localhost:9090/prometheus
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      httpMethod: POST

  # Loki for logs
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://localhost:3100
    editable: true
    jsonData:
      maxLines: 1000

  # AlertManager for alert annotations
  - name: Alertmanager
    type: alertmanager
    uid: alertmanager
    access: proxy
    url: http://localhost:9093
    editable: true
    jsonData:
      implementation: prometheus
